html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* ---Screen--- */
.screen {
  background: #e8e6e3;
  height: 300px;
  margin: 80px 0 0;
  width: 100vh;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05ex;
  color: #8f8f8f;
  overflow: hidden;
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  position: relative;
}

.screen__inner__wrapper {
  height: 270px;
  padding: 0 30px;
  border-top: 30px solid gainsboro;
  overflow: hidden;
  opacity: 0;
}

.screen__inner__wrapperFadeIn {
  height: 270px;
  padding: 0 30px;
  border-top: 30px solid gainsboro;
  overflow: hidden;
  opacity: 1;
  transition: opacity 1s;
}

.screen__inner__num {
  font-size: 30px;
  text-align: center;
  width: 100px;
  margin: auto;
}

.screen__inner__sym {
  font-size: 30px;
  word-spacing: 20px;
  line-height: 40px;
}

.progressMeter {
  position: absolute;
  bottom: 4px;
  right: 15px;
font-weight: bold;
  font-size: 14px;
  color: #e7eaec;
}

.completedText {
  color: black;
}

.progressMarker {
  position: relative;
  top: 5px;
  left: 1px;
  color:yellow;
}

.progressMarker::before {
  content: " ";
  height: 20px;
  position: absolute;
  font-weight:900 ;
  font-style: initial;
  border-left: 1px solid #e02f2f;
}

.progressMarkerNum::before {
  content: " ";
  height: 25px;
  position: absolute;
  font-style: initial;
  border-left: 1px solid #a7a6a6;
}

.progressMarkerSym::before {
  content: " ";
  height: 30px;
  position: absolute;
  font-style: initial;
  border-left: 1px solid #a7a6a6;
}

.remainingText::first-letter {
  color: blue;
}

/* ---Stats Box--- */

.statbox__title {
  font-size: 18px;
  color: #6a6c75;
  margin-bottom: 0px;
  position: relative;
  top: 0px;
  transition: color 0.5s 0.5s, margin-bottom 0.5s 0.5s, top 0.5s 0.5s;
}

.statbox__value {
  display: inline-block;
  font-size: 14px;
  color: #0c87d6;
  position: relative;
  top: 0px;
  transition: color 0.5s 0.5s, font-size 0.5s 0.5s, line-height 0.5s 0.5s,
    top 0.5s 0.5s;
}

.statbox__unit {
  display: inline-block;
  font-size: 14px;
  color: #0c87d6;
  position: relative;
  top: 0px;
  transition: color 0.5s 0.5s, font-size 0.5s 0.5s, line-height 0.5s 0.5s,
    top 0.5s 0.5s;
}

.stats {
  height: 60px;
  width: 100%;
  background: #2b2c30;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 0;
  transition: background 0.7s 0.8s, height 0.5s 0.5s, padding 0.5s 0.5s,
    margin 0.5s 0.5s, z-index 0s 1s;
}

.statsCompleted {
  background: #dcdcdc;
  height: 300px;
  margin: 80px auto;
  padding: 40px;
  display: flex;
  align-items: center;
  z-index: 1;
  transition: background 1s, height 0.7s 0.3s, padding 0.5s 0.5s,
    margin 0.5s 0.5s;
}

.statsCompleted .statbox__title {
  color: black;
  margin-bottom: 5px;
  position: relative;
  top: -40px;
  transition: all 0.5s 0.5s;
}

.statsCompleted .statbox__value,
.statsCompleted .statbox__unit {
  color: #7dae6a;
  font-size: 35px;
  line-height: 50px;
  position: relative;
  top: -40px;
  transition: all 0.5s 0.5s;
}

/* ---Results Box--- */
.resultsTitleHidden {
  position: absolute;
  top: 0;
  color: white;
  background: #61a75d;
  font-size: 14px;
  font-weight: 900;
  line-height: 35px;
  font-family: Arial;
  left: 0;
  right: 0;
  width: 100%;
  padding-left: 20px;
  opacity: 0;
  transition: all 1s;
}

.resultsTitleShow {
  opacity: 1;
  transition: opacity 0.5s 1s;
}

.resultsOptionsHidden {
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 30px;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s 1s, all 1s;
  text-align: center;
  line-height: 70px;
}

.resultsOptionsShow {
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 30px;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s 1s;
  text-align: center;
  line-height: 70px;
}

.results__options__box {
  display: inline-block;
  width: 25%;
  color: #8a8f92;
  background: #d0d0d0;
  font-size: 24px;
  transition: all 0.2s;
}

.results__options__boxUnavailable {
  display: inline-block;
  width: 25%;
  color: #bfbfbf;
  background: #d0d0d0;
  font-size: 24px;
  transition: all 0.2s;
}

.results__options__box:hover {
  background: #c0c0c0;
  cursor: pointer;
  color: #72777a;
  transition: all 0.1s;
}
/* ---Sidebar--- */
.rightside {
  background: #2b2c30;
  float: left;
  height: calc(100% - 70px);
  width: 350px;
}

.rightsideShow {
  background: #2b2c30;
  float: left;
  height: calc(100% - 70px);
  width: 350px;
}

.sidebar__box {
  margin-bottom: 20px;
  background: #dcdcdc;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.sidebar__generator__input {
  height: 50px;
  border: none;
  padding: 20px;
  font-size: 20px;
  letter-spacing: 6px;
  width: 80%;
  display: inline-block;
  vertical-align: top;
  background: #dcdcdc;
  color: #2b2c30;
}
.sidebar__generator__input::placeholder {
  letter-spacing: 0px;
  color: #9b9da8;
  font-size: 16px;
}

.sidebar__generator__button {
  width: 20%;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
  background: #0e69a4;
  color: #fff;
  transition: 0.2s;
}
.sidebar__generator__button:hover {
  cursor: pointer;
  background: #0c5a8e;
  transition: 0.1s;
}

.sidebar__item {
  height: 50px;
  background: #dcdcdc;
  border-top: 1px solid #cbcbcb;
  transition: 0.1s;
}
.sidebar__item:hover {
  background: #cecece;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar__item__p {
  line-height: 50px;
  padding-left: 20px;
  color: #2b2c30;
}

.sidebar__switch__option {
  height: 50px;
  display: inline-block;
  width: 33.333%;
  line-height: 50px;
  text-align: center;
  background: #dcdcdc;
  transition: 0.1s;
  border-right: 1px solid #cbcbcb;
}
.sidebar__switch__option:hover {
  cursor: pointer;
  background: #cecece;
  transition: 0.1s;
}
.sidebar__switch__option .sidebar__swith {
  height: 40px;
}

.sidebar__tile__h1 {
  background: #0c87d6;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  line-height: 35px;
  padding: 0 20px;
}

.sidebar {
  float: left;
  height: calc(100% - 40px);
  margin: 100px 40px 0 0;
  width: calc(100% - 40px);
}

.statbox {
  float: left;
  height: 60px;
  width: 25%;
  text-align: center;
  line-height: 24px;
  padding: 8px;
}
/* ---Main--- */
.main {
  background: #2b2c30;
  float: left;
  height: calc(100% - 70px);
  overflow: auto;
  width: calc(100% - 440px);
  margin: 20px 40px 90px 40px;
  position: relative;
}

/* ---Small Screen--- */

@media screen and (max-width: 800px) {
  .main {
    width: 100%;
    margin: 10px 0;
  }

  .rightside {
    width: 70%;
    position: absolute;
    top: 70px;
    right: -100%;
    transition: right 1s;
    height: 100%;
    border-left: 1px solid gray;
    background: #cbcbcb;
  }

  .rightsideShow {
    right: 0;
    height: 100%;
    width: 70%;
    position: absolute;
    top: 70px;
    transition: right 1s;
    border-left: 1px solid #949494;
    background: #cbcbcb;
  }

  .sidebar {
    margin: 0;
    width: 100%;
    border-top: 1px solid #327ba9;
  }

  .sidebar__box {
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.15);
  }

  .header__options {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 20px;
    display: block;
  }

  .header__options__icon {
    color: white;
    font-size: 30px;
    height: 70px;
  }

  .header__options__icon:hover {
    cursor: pointer;
  }
}
